* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

body {
	background-image: url("images/image02.jpg");
	color: #fff;
}

/* mobile-first */


/* intro page */

.intro-container {
	top: 16vh;
	position: relative;
	text-align: center;
	font-size: 0.8em;
	margin-left: 6vw;
	margin-right: 6vw;
}


button {
	color: #212121;
	background-color: #ff5722;
	text-transform: uppercase;
	border-radius: 4px;
	margin-top: 4vh;
	border-color: #ff5722;
	border-style: none;
	transition: background-color 0.5s ease;
}

button:hover {
	background-color: #ffc107;
}

button:active {
	outline: none;
}

button * {
	margin: 8px;
}

.skip a {
	color: #ddd;
	text-decoration: none;
	opacity: 0.5;
	text-align: center;
	top: 90vh;
	width: 100%;
	display: block;
	position: fixed;
	align-items: center;
	justify-content: center;
	outline: 0;
}

.skip a:hover {
	color: #fff;
	opacity: 0.8;
}

/* end of intro page */


/* portfolio page */

.header {
	text-align: center;
	margin: 4vh 2vh;
}

.header h1 {
	padding-bottom: 2vh;
}

#box {
	background-color: #212121;
	position: relative;
	margin: 0 auto;
	max-width: 320px;
	margin-top: 2vh;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,1);
}

.header-dance {
	position: relative;
	height: 12em;
	text-align: center;
	display: flex;
}

.header-dance img {
	width: 100%;
}

.header-text {
	position: absolute;
    top: 2em;
    font-size: 2em;
    left: 0;
    right: 0;
    bottom: 0;
}

#box article {
	padding: 1.5em;
	text-align: justify;
}

footer {
	text-align: center;
	font-size: 0.8em;
	margin: 1em;
}


/* other media screens */

@media screen and (min-width: 767px) {
	.intro-container {
		top: 30vh;
		font-size: 1em;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#box {
		max-width: 720px;
	}

	.header h1 {
		font-size: 4em;
	}

	.header span {
		font-size: 2em;
	}

	.header-dance {
		height: 26em;
	}

	.header-text {
		top: 2.2em;
		font-size: 4em;
	}
}

@media screen and (min-width: 1280px) {
	.intro-container {
		top: 34vh;
		margin-left: 18vw;
		margin-right: 18vw;
	}
}